/* Some general styling to make everything look better */
* { /* Everything! */
    border: none !important; /* Remove ugly borders everywhere */
    transition: background-color 0.1s, opacity 0.1s !important;  /* Add fadey background transitions to hoverable/clickable elements */
    letter-spacing: 0 !important;  /* Undo weird -1px and +1px letter spacing in random places */
}

.c_col * { /* The widgets and stuff, inside #c_bar */
    font-size: 12px !important;  /* Regulate weird font sizing */
}

/* Loading indicators */
.x-mask {
    background-color: black !important;
    border-radius: 4px !important;
}

.x-mask-msg, .x-mask-msg div {
    background-color: white !important;
}

.x-mask-msg {
    border-radius: 3px !important;
}

/* Backgrounds */
.greyBody { /* Background of website */
    background-color: #f8f9f9 !important;
    background-image: none !important; /* https://res.cloudinary.com/t56/image/upload/2-10.jpg */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
}

#c_bar { /* Main content container */
    background: #fff0 !important;
}

#container-1081 {
    background-color: white !important;
}

#CompassManagersActivityDefaultManager-body {
    background-color: white !important;
}

/* Removing some stuff we don't want */
#component-1079, #component-1080 { /* School and Compass logos */
    display: none !important;
}

#container-1052, #ext-comp-1053 { /* Looking ahead widgets */
    display: none !important;
}

#c_ftr, #ctl00_MenuBlob1_pnlSearch input { /* Footer and search bar */
    display: none !important;
}

/* Titles in navbar */
#c_main > table h1 { /* The h1 element located at the top of every page */
    position: fixed !important; /* Position the title fixed in the centre of navbar */
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 999 !important; /* Put it ontop of navbar (same z-index) */
    height: 32px !important; /* Same height as navbar */
    line-height: 32px !important;
    color: white !important;
    font-size: 18px !important;
}

.class-name-title { /* For subjects and classes pages */
    position: static !important; /* Instead of block */
    padding: 0 !important;
    font-size: 18px !important;
    text-shadow: none !important;
}

.class-header-container {
    background: none !important; /* Remove grey background */
}

.class-code-title, .activity-header-container {
    display: none !important;
}

/* Fixing spacing at top of page */
#c_main > br {
    display: none !important;
}

.c_col, #c_main > table {
    margin: 0 !important;
}


/* Fixing user page titles */
#ctl00_cpO_UserActivityStatusBar {
    display: none !important;
}

#c_main > table a {
    color: white !important;
}

/* Navbar */
#mnuBlueBar, #mnuBlueBarPadder {
    display: none;
}

/* Newsfeed */
#ext-comp-1074 {
    top: 0px !important; /* Positioning the newsfeed at the top because of removed logos */
}

#ext-comp-1064 {
    top: 25px !important; /* Positioning the newsfeed at the top because of removed logos */
}

#container-1077 div {
    width: 498px !important; /* Resizing the "My news" label to fit full width */
}

h5 {
    text-align: center !important;
}

#label-1075 {
    position: static !important;
}

.news-feed-item-widget-test-tag img {
    border-radius: 3px !important;
}

/* Calendar */
.ext-cal-evt { /* All events */
    /* border-color: #2951a588 !important; */ /* If you want to change the border color */
    border-radius: 3px !important;
    padding: 3px 6px !important; /* Add a bit of padding to text */
    /* box-shadow: 0px 1px 2px 1px #0001 !important; /* Tiny shadows, optional */
    font-weight: normal !important; /* Make everything not bold */
}

.ext-cal-day-today, .ext-cal-hd-days-tbl, .ext-cal-day-times {
    background: none !important; /* Remove ugly backgrounds at top of calendar for clean look */
}

.compass-day-calendar .ext-cal-hd-days-td tr:nth-child(2) .ext-cal-ev {
    padding-top: 2px !important; /* Reduce the padding on the top event in the calendar */
}

.ext-cal-day-time-inner {
    padding-right: 8px !important; /* Space the times on the calendar a bit to the left */
}

#calendardaywidget-1013-day-bd {
    background: none !important; /* Tiny little sliver of grey at the bottom of the calendar */
}

/* Widget shadows and rounded corners */
#container-1081, #calendardaywidget-1013, #taskListWidget-1032 { /* The "widgets" */
    box-shadow: 0px 0px 5px 5px #0000000A !important; /* Optional */
    border-radius: 4px !important;
}

#ext-comp-1009, #ext-comp-1009-innerCt, #container-1063, #container-1063-innerCt, #container-1073, #container-1073-innerCt, #dashboard-body, #dashboard-innerCt {
    overflow: visible !important; /* So we can see the shadows */
}

#activity-tabs, #container-1052, #taskListWidget-1032, #container-1136 {
    overflow: hidden !important; /* So we can see the rounded corners */
}

/* Widget white labels */
#toolbar-1014, #ext-comp-1074, #toolbar-1035 {
    box-shadow: 0 0 0 100px white inset !important;
}

#label-1075 > h5, #label-1036 > h5 {
    background-color: white !important;
}

#toolbar-1049, .x-column-header {
    background-color: white !important;
}
