html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  border: 1px solid #415677;
}

body.maximized, body.full-screen {
  border: none;
}

#titlebar {
  position: absolute;
  height: 32px;
  width: calc(100% - 2px);
  background: #2e466b;
  color: #FFF;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 138px;
}

.blurred #titlebar {
  color: #FFF8
}

.maximized #titlebar, .full-screen #titlebar {
  width: 100%;
}

#titlebar-drag {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 0;
  bottom: 0;
  -webkit-app-region: drag;
}

.maximized #titlebar-drag, .full-screen #titlebar-drag {
  top: 0;
  left: 0;
}

#titlebar-contents {
  width: 100%;
  height: 100%;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  margin-left: 12px;
  overflow-x: hidden;
  user-select: none;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

#max-button {
  display: flex;
}

.full-screen #restore-button, .maximized #restore-button {
  display: flex !important;
}

.full-screen #max-button, .maximized #max-button {
  display: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #f1707a !important;
  color: #000;
}
